@media (max-width: 2560px) {
  #ilustrasi {
    vertical-align: middle;
    width: 500px;
  }
}

@media (max-width: 1440px) {
  #ilustrasi {
    vertical-align: middle;
    width: 500px;
  }
}

@media (max-width: 1200px) {
  #ilustrasi {
    vertical-align: middle;
    width: 500px;
  }
}

@media (max-width: 992px) {
  #ilustrasi {
    vertical-align: middle;
    width: 400px;
  }
}

@media (max-width: 2560px) {
  #navbarResponsive {
    background: transparent!important;
  }
}

@media (max-width: 1440px) {
  #navbarResponsive {
    background: transparent!important;
  }
}

@media (max-width: 2560px) {
  #mainNav {
    background: transparent!important;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
    margin-top: 10px;
    transition: padding-top .3s,padding-bottom .3s;
    border: none;
    width: 2530px;
    height: 60px;
    border-radius: 25px;
  }
}

@media (max-width: 1440px) {
  #mainNav {
    background: transparent!important;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
    margin-top: 10px;
    transition: padding-top .3s,padding-bottom .3s;
    border: none;
    width: 1410px;
    height: 60px;
    border-radius: 25px;
  }
}

@media (max-width: 1200px) {
  #mainNav {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    transition: padding-top .3s,padding-bottom .3s;
    border: none;
    width: 1180px;
    height: 60px;
    border-radius: 25px;
  }
}

@media (max-width: 1024px) {
  #mainNav {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    transition: padding-top .3s,padding-bottom .3s;
    border: none;
    width: 1005px;
    height: 60px;
    border-radius: 25px;
  }
}

@media (max-width: 1440px) {
  #title-web {
    font-size: 50px;
  }
}

@media (max-width: 1200px) {
  #title-web {
    font-size: 50px;
  }
}

@media (max-width: 1024px) {
  #title-web {
    font-size: 40px;
  }
}

@media (max-width: 992px) {
  #title-web {
    font-size: 30px;
  }
}

@media (max-width: 992px) {
  #mainNav {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    transition: padding-top .3s,padding-bottom .3s;
    border: none;
    width: 965px;
    height: 60px;
    border-radius: 25px;
  }
}

.text-muted {
  color: #fff!important;
}

.text-subtitle-contact {
  color: #007bff!important;
}

.text-subtitle-services {
  color: #007bff!important;
}

.text-subtitle-card {
  color: #000000!important;
}

.text-title {
  opacity: 70%;
  color: #fff!important;
}

.text-services {
  color: #ffff!important;
}

